
body {
    font-family: 'Poppins', sans-serif;
}
.main-container {
    background: #34425A;
    color: white;
    
    width: 400px;
    max-height: 400px;

    border: none;
    border-radius: 8px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


}

h1 {
    margin-top: 50px;
    margin-bottom: 0;
    color: white;
}

center span {
    color: rgb(236, 69, 69);
    margin: 25px 0;
}

form {
    /* border: 2px solid black; */
    width: 350px;
    height: 300px;
}

form div {
    display: grid;
    gap: 20px;
    width: 300px;
    margin-left: 50px;
}

form div input {
    font-size: 16px;

    width: 275px;
    height: 34px;
    padding: 5px 10px;

    border-radius: 8px;
}

form div button {
    font-size: 16px;
    font-weight: 600;

    padding: 5px 10px;
    width: 100px;
    height: 32px;

    border-radius: 8px;
    border: none;

    background: rgb(236, 69, 69);
    color: white;

    cursor: pointer;
}

form div button:hover {
    box-shadow: 3px 6px 6px -5px rgba(233, 83, 83, 0.8);;
}

.popup {
    width: 220px;
    height: 100px;
    border: none;
    border-radius: 8px;

    background: white;

    font-size: 14px;

    position: absolute;
    z-index: 100;

    left: 22%;

    visibility: hidden;
}

.popup-show {
    visibility: visible;
    top: 11%;
    transform: scale(1);
}

span.error {
    margin-top: 8px;
    margin-bottom: 0;
}

.error-message {
    margin-top: 0;
    color: black;
}